<div class="container bg-dark p-0">
  <table class="table table-bordered table-dark align-middle" id="bootstrap-overrides" matSort (matSortChange)="sortData($event)">
    <thead>
    <tr>
      <th mat-sort-header="id" scope="col">Id</th>
      <th mat-sort-header="hero" scope="col">Hero</th>
      <th mat-sort-header="place" scope="col">Place</th>
      <th mat-sort-header="mmr" scope="col">Mmr</th>
      <th mat-sort-header="difference" scope="col">Difference</th>
      <th mat-sort-header="timestamp" scope="col">Timestamp</th>
      <th scope="col">Modify</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games" class="pos{{game.place}}">
      <td>{{game.id}}</td>
      <td>
        <a href="todo/heroThisHero">
          <img src="/assets/images/{{game.hero}}.png" alt="image" style="width: 70px; height: 70px;"><br>
          <p class="pos{{game.place}} m-0">{{game.hero}}</p>
        </a>
      </td>
      <td>{{game.place}}</td>
      <td>{{game.mmr}}</td>
      <td>{{game.difference}}</td>
      <td>
        <a href="todo/thisdate">
          <p class="pos{{game.place}} m-0">{{game.timestamp}}</p>
        </a>
      </td>
      <td>
        <div *ngIf="!game.modify">
        <form (click)="modify(game)">
          <button class="btn btn-primary" type="submit">Modify</button>
        </form>
        </div>
        <div *ngIf="game.modify">
        <form (click)="deleteGame(game.id)">
        <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <br>
        <form (click)="deleteGame(game.id)">
          <button class="btn btn-warning pl-3 pr-3" type="submit">Edit</button>
        </form>
          <br>
          <form (click)="modify(game)">
            <button class="btn btn-primary pl-3 pr-3" type="submit"><i class="fas fa-arrow-left"></i></button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
