<ng-template #content let-modal>
  <form [formGroup]="gameForm" (ngSubmit)="editGame()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit a game</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row rows m-3">
        <div class="col-4">
          Hero <select [class.is-invalid]="gameForm.get('hero')?.touched && gameForm.get('hero')?.invalid"
                       class="form-control" formControlName="hero">
          <option selected>All</option>
          <option>Afk</option>
          <option>Akazamzarak</option>
          <option>Al'akir</option>
          <option>Alexstrasza</option>
          <option>Aranna</option>
          <option>Bigglesworth</option>
          <option>Blackthorn</option>
          <option>Brann</option>
          <option>C'thun</option>
          <option>Chenvaala</option>
          <option>Curator</option>
          <option>Deathwing</option>
          <option>Deryl</option>
          <option>Edwin</option>
          <option>Elise</option>
          <option>Eudora</option>
          <option>Finley</option>
          <option>Flurgl</option>
          <option>Galakrond</option>
          <option>Galewing</option>
          <option>Gallywix</option>
          <option>George</option>
          <option>Greybough</option>
          <option>Guff</option>
          <option>Hooktusk</option>
          <option>Illidan</option>
          <option>Jandice</option>
          <option>Jaraxxus</option>
          <option>Kaelthas</option>
          <option>Kragg</option>
          <option>Kurtrus</option>
          <option>Lich Baz'hial</option>
          <option>Lich King</option>
          <option>Lord Barov</option>
          <option>Maiev</option>
          <option>Malygos</option>
          <option>Millhouse</option>
          <option>Millificent</option>
          <option>Mukla</option>
          <option>Mutanus</option>
          <option>Nozdormu</option>
          <option>N'Zoth</option>
          <option>Omu</option>
          <option>Patches</option>
          <option>Patchwerk</option>
          <option>Pyramad</option>
          <option>Rafaam</option>
          <option>Ragnaros</option>
          <option>Rakanishu</option>
          <option>Rat King</option>
          <option>Reno</option>
          <option>Saurfang</option>
          <option>Silas</option>
          <option>Sindragosa</option>
          <option>Tess</option>
          <option>Tickatus</option>
          <option>Toki</option>
          <option>Voljin</option>
          <option>Wagtoggle</option>
          <option>Xyrella</option>
          <option>Y'Shaarj</option>
          <option>Yogg</option>
          <option>Ysera</option>
          <option>Zephrys</option>
          <option>DC</option>
        </select>
        </div>
        <div class="col-4">
          Place <input [class.is-invalid]="gameForm.get('place')?.touched && gameForm.get('place')?.invalid"
                       type="number" class="form-control" formControlName="place" placeholder="">
        </div>
        <div class="col-4">
          MMR <input [class.is-invalid]="gameForm.get('mmr')?.touched && gameForm.get('mmr')?.invalid"
                     type="number" class="form-control" formControlName="mmr" placeholder="">
        </div>
      </div>
  </div>
    <div class="modal-footer">
      <button class="btn btn-primary"  type="submit" (click)="modal.close('Save click')">Save</button>
    </div>
  </form>
</ng-template>

<div class="container bg-dark p-0">
  <table class="table table-bordered table-dark align-middle" id="bootstrap-overrides" matSort (matSortChange)="sortData($event)">
    <thead>
    <tr>
      <th mat-sort-header="hero" scope="col">Hero</th>
      <th mat-sort-header="place" scope="col">Place</th>
      <th mat-sort-header="mmr" scope="col">Mmr</th>
      <th mat-sort-header="difference" scope="col">Difference</th>
      <th mat-sort-header="timestamp" scope="col">Timestamp</th>
      <th scope="col">Modify</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games" class="pos{{game.place}}">
      <td>
        <a href="hero/{{game.hero}}">
          <img src="/assets/images/{{game.hero}}.png" alt="image" style="width: 70px; height: 70px;"><br>
          <p class="pos{{game.place}} m-0">{{game.hero}}</p>
        </a>
      </td>
      <td>{{game.place}}</td>
      <td>{{game.mmr}}</td>
      <td>{{game.difference}}</td>
      <td>
        <a href="date/{{takeHourOut(game.timestamp)}}">
          <p class="pos{{game.place}} m-0">{{game.timestamp}}</p>
        </a>
      </td>
      <td>
        <div *ngIf="!game.modify">
        <form (click)="modify(game)">
          <button class="btn btn-primary" type="submit">Modify</button>
        </form>
        </div>
        <div *ngIf="game.modify">
        <form (click)="deleteGame(game.id)">
        <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <br>
        <form (click)="open(content,game)">
          <button class="btn btn-warning pl-3 pr-3" type="submit">Edit</button>
        </form>
          <br>
          <form (click)="modify(game)">
            <button class="btn btn-primary pl-3 pr-3" type="submit"><i class="fas fa-arrow-left"></i></button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
