<div class="container">
<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
  Hero <input [class.is-invalid]="gameForm.get('hero')?.touched && gameForm.get('hero')?.invalid"
              type="text" class="form-control" formControlName="hero" placeholder="Omu">
  Place <input [class.is-invalid]="gameForm.get('place')?.touched && gameForm.get('place')?.invalid"
               type="number" class="form-control" formControlName="place" placeholder="1">
  MMR <input [class.is-invalid]="gameForm.get('mmr')?.touched && gameForm.get('mmr')?.invalid"
             type="number" class="form-control" formControlName="mmr" placeholder="6969">
  Timestamp<input [class.is-invalid]="gameForm.get('timestamp')?.touched && gameForm.get('timestamp')?.invalid"
                  type="text" class="form-control" formControlName="timestamp" placeholder="2021-08-27T11:11:11.111" >

  <button class="btn btn-primary" type="submit" >Send</button>
</form>
</div>
