<app-menu></app-menu>




<div class="container-fluid bg-dark p-5">

<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
  <div class="row rows m-3">
    <div class="col-4">
      Hero <select [class.is-invalid]="gameForm.get('hero')?.touched && gameForm.get('hero')?.invalid"
                   class="form-control" formControlName="hero">
      <option selected>All</option>
      <option>Akazamzarak</option>
      <option>Al'akir</option>
      <option>Alexstrasza</option>
      <option>Aranna</option>
      <option>Bigglesworth</option>
      <option>Blackthorn</option>
      <option>Brann</option>
      <option>C'thun</option>
      <option>Cariel</option>
      <option>Chenvaala</option>
      <option>Curator</option>
      <option>Deathwing</option>
      <option>Deryl</option>
      <option>Edwin</option>
      <option>Elise</option>
      <option>Eudora</option>
      <option>Flurgl</option>
      <option>Galakrond</option>
      <option>Galewing</option>
      <option>Gallywix</option>
      <option>George</option>
      <option>Greybough</option>
      <option>Guff</option>
      <option>Hooktusk</option>
      <option>Illidan</option>
      <option>Jandice</option>
      <option>Jaraxxus</option>
      <option>Kaelthas</option>
      <option>Kragg</option>
      <option>Kurtrus</option>
      <option>Lich Baz'hial</option>
      <option>Lich King</option>
      <option>Lord Barov</option>
      <option>Maiev</option>
      <option>Malygos</option>
      <option>Millhouse</option>
      <option>Millificent</option>
      <option>Mukla</option>
      <option>Mutanus</option>
      <option>Nozdormu</option>
      <option>Nguyen</option>
      <option>N'Zoth</option>
      <option>Omu</option>
      <option>Patches</option>
      <option>Patchwerk</option>
      <option>Pyramad</option>
      <option>Rafaam</option>
      <option>Ragnaros</option>
      <option>Rakanishu</option>
      <option>Rat King</option>
      <option>Reno</option>
      <option>Saurfang</option>
      <option>Silas</option>
      <option>Sindragosa</option>
      <option>Tess</option>
      <option>Tickatus</option>
      <option>Toki</option>
      <option>Voljin</option>
      <option>Wagtoggle</option>
      <option>Xyrella</option>
      <option>Y'Shaarj</option>
      <option>Yogg</option>
      <option>Ysera</option>
      <option>Zephrys</option>
    </select>
    </div>
    <div class="col-2">
  Place <input [class.is-invalid]="gameForm.get('place')?.touched && gameForm.get('place')?.invalid"
               type="number" class="form-control" formControlName="place" placeholder="">
    </div>
    <div class="col-2">
  MMR <input [class.is-invalid]="gameForm.get('mmr')?.touched && gameForm.get('mmr')?.invalid"
             type="number" class="form-control" formControlName="mmr" placeholder="">

    </div>
    <br>
    <div class="col-2">
      <input class="form-check-input" type="radio" name="gob" id="now"[checked]="true"
             (change)="onItemChange()"/>
      <label for="now">Now</label><br>
      <input class="form-check-input" type="radio" name="gob" id="custom"[checked]="false"
               (change)="onItemChange()"/>
      <label for="custom">Custom date</label>
    </div>
  </div>
  <div class="row rows m-3">
    <div class="col-4 bg-grey" *ngIf="customDate">

      <mat-form-field appearance="outline">
        <mat-label>Choose date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="dp" >
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hour</mat-label>
        <input matInput [ngxTimepicker]="endTime" [format]="24" placeholder="Hour" formControlName="hour" required />
      </mat-form-field>
      <ngx-material-timepicker #endTime></ngx-material-timepicker>
    </div>

    <div class="col-2 d-flex align-items-center " >
      <button class="btn btn-primary"  type="submit" >Send</button>
    </div>
  </div>
</form>
</div>


