F<app-menu [title]=title></app-menu>
<div class="container" *ngIf="!isLogged">
  <div class="row m-3">
    <div class="col-md-6 mx-auto">
      <div class="card bg-dark">
        <div class="card-header text-center text-white">
          Sign in
        </div>
        <div class="card-body">
          <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
            <i class="fab fa-google"></i> Sign in with Google</button>
        </div>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="container">
              <mat-form-field class="m-2">
                <input matInput placeholder="Email" formControlName="username">
              </mat-form-field>
              <mat-form-field class="m-2">
                <input matInput type="password" placeholder="Password" formControlName="password">
              </mat-form-field >
              <button mat-flat-button color="primary" class="m-2" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
