<app-menu></app-menu>
<div>
  <app-gameEntry></app-gameEntry>
</div>
<div class="container bg-dark">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">player</th>
            <th scope="col">hero</th>
            <th scope="col">place</th>
            <th scope="col">mmr</th>
            <th scope="col">timestamp</th>
            <th scope="col">timestamp onw</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games">
            <td>{{game.id}}</td>
            <td>{{game.player}}</td>
            <td>{{game.hero}}</td>
            <td>{{game.place}}</td>
            <td>{{game.mmr}}</td>
            <td>{{game.timestamp}}</td>
            <td>{{currentTimeInSeconds}}</td>
          </tr>
        </tbody>
      </table>

</div>
