<app-menu></app-menu>
<div class="container-fluid mb-4">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="row mt-3 rowStyle">
        <div class="col-1">
          Page {{+(searchForm.value.page)+1}}<br>
        <button mat-icon-button color="dark-grey"  (click)="prevPage()">
          <mat-icon><i class="fas fa-arrow-alt-circle-left"></i></mat-icon>
        </button>
          <button mat-icon-button color="dark-grey"  (click)="nextPage()">
            <mat-icon><i class="fas fa-arrow-alt-circle-right"></i></mat-icon>
          </button>
          <br>
        </div>
    <div class="col-2">
    Hero <select [class.is-invalid]="searchForm.get('hero')?.touched && searchForm.get('hero')?.invalid"
                        class="form-control" formControlName="hero">
        <option selected>All</option>
        <option>Akazamzarak</option>
        <option>Al'akir</option>
        <option>Alexstrasza</option>
        <option>Aranna</option>
        <option>Bigglesworth</option>
        <option>Blackthorn</option>
        <option>Brann</option>
        <option>C'thun</option>
        <option>Chenvaala</option>
        <option>Curator</option>
        <option>Deathwing</option>
        <option>Deryl</option>
        <option>Edwin</option>
        <option>Elise</option>
        <option>Eudora</option>
        <option>Flurgl</option>
        <option>Galakrond</option>
        <option>Galewing</option>
        <option>Gallywix</option>
        <option>George</option>
        <option>Greybough</option>
        <option>Guff</option>
        <option>Hooktusk</option>
        <option>Illidan</option>
        <option>Jandice</option>
        <option>Jaraxxus</option>
        <option>Kaelthas</option>
        <option>Kragg</option>
        <option>Kurtrus</option>
        <option>Lich Baz'hial</option>
        <option>Lich King</option>
        <option>Lord Barov</option>
        <option>Maiev</option>
        <option>Malygos</option>
        <option>Millhouse</option>
        <option>Millificent</option>
        <option>Mukla</option>
        <option>Mutanus</option>
        <option>Nozdormu</option>
        <option>N'Zoth</option>
        <option>Omu</option>
        <option>Patches</option>
        <option>Patchwerk</option>
        <option>Pyramad</option>
        <option>Rafaam</option>
        <option>Ragnaros</option>
        <option>Rakanishu</option>
        <option>Rat King</option>
        <option>Reno</option>
        <option>Saurfang</option>
        <option>Silas</option>
        <option>Sindragosa</option>
        <option>Tess</option>
        <option>Tickatus</option>
        <option>Toki</option>
        <option>Voljin</option>
        <option>Wagtoggle</option>
        <option>Xyrella</option>
        <option>Y'Shaarj</option>
        <option>Yogg</option>
        <option>Ysera</option>
        <option>Zephrys</option>

    </select>
    </div>

      <div class="col-1">
        Show
      <select [class.is-invalid]="searchForm.get('amount')?.touched && searchForm.get('amount')?.invalid"
              formControlName="amount" name="amount" id="amount" class="form-control">
        <option>3</option>
        <option selected>25</option>
        <option>50</option>
        <option>100</option>
        <option>500</option>
      </select>
      </div>
      <div class="col-2">
        Time
      <select [class.is-invalid]="searchForm.get('time')?.touched && searchForm.get('time')?.invalid"
              formControlName="time" name="time" id="time" class="form-control">
        <option selected>Always</option>
        <option>Today</option>
        <option>Last week</option>
        <option>Last month</option>
        <option value="Custom">Custom</option>
      </select>
      </div>
      <div class="col-3"  *ngIf="searchForm.value.time == 'Custom'" >
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

      </div>

        <div class="col-1 d-flex align-items-center">
          <button class="btn btn-primary ml-5 mr-5" type="submit" >Search</button>
        </div>
    </div>
  </form>
</div>

<app-game-table [games]=games></app-game-table>
<app-footer></app-footer>



