.blueCard{
  width: 200px;
  background: radial-gradient(circle, rgba(74, 153, 204, 0.8939950980392157) 17%, rgba(56, 49, 151, 0.958420868347339) 56%, rgba(22, 14, 105, 1) 88%);
  color: white;
}

.heroCard{
  width: 300px;
}

.cardStyle{
  display:flex;
  justify-content:center;
  text-align: center;
  vertical-align: middle;
}

.redCard{
  width: 200px;
  background: radial-gradient(circle, rgba(204, 36, 56, 0.7035189075630253) 17%, rgba(151, 25, 40, 0.96) 56%, rgba(56, 3, 10, 0.91) 88%);
  color: white;
}

.greenCard{
  width: 200px;
  background: radial-gradient(circle, rgba(74, 204, 113, 0.7035189075630253) 17%, rgba(49, 151, 80, 0.96) 50%, rgba(5, 56, 21, 1) 88%);
  color: white;
}
