<app-menu></app-menu>
<div class="container bg-dark">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">hero</th>
      <th scope="col">place</th>
      <th scope="col">mmr</th>
      <th scope="col">timestamp</th>
      <th scope="col">imageUrl</th>
      <th scope="col">Games</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hero of heroes">
      <td>{{hero.name}}</td>
      <td>{{hero.avgPlace}}</td>
      <td>{{hero.mmr}}</td>
      <td>{{hero.lastUse}}</td>
      <td>{{hero.heroUrl}}</td>
      <td>{{hero.gamesPlayed}}</td>
    </tr>
    </tbody>
  </table>
</div>

